<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission (required for Google Sign-In and Cloudinary) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Storage permissions (for photo handling) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Snapy"
        tools:targetApi="31">

        <!-- Google Sign-In metadata (required for OAuth) -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- FileProvider for file sharing (used in photo/collage features) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Main Launcher Activity (Google Sign-In entry point) -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Snapy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Secondary Activities -->
        <activity
            android:name=".ThirdActivity"
            android:exported="false" />

        <!-- Photo-related Activities -->
        <activity
            android:name=".PhotoCollectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Snapy" />


        <activity
            android:name=".PhotoSwipeActivity"
            android:exported="false" />

        <!-- Collage Activities -->
        <activity
            android:name=".CollageActivity"
            android:exported="false"
            android:theme="@style/Theme.Snapy" />

        <activity
            android:name=".CollagePreviewActivity"
            android:exported="false" />

        <activity
            android:name=".PhotoCollageActivity"
            android:exported="false" />

        <!-- AI & Auth Activities -->
        <activity
            android:name=".AICategorizationActivity"
            android:exported="false" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <activity android:name=".ImageViewerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>